@if (isLoading()) {
  <app-loader [loadingText]="loadingText()" />
} @else if (url()) {
  <div class="animate-fade-in w-full flex flex-col items-center">
    <div class="relative group">
      <img
        [src]="url()"
        [width]="imageSize().width"
        [height]="imageSize().height"
        alt="Generated image"
        class="rounded-lg shadow-2xl border-4 border-gray-700 max-w-full h-auto"
      />
      @if (capabilities().download) {
        <button
          (click)="imageAction.emit({ action: 'downloadImage', context: id() })"
          title="Download Image"
          class="absolute top-4 left-4 bg-gray-900 bg-opacity-75 text-white p-2 rounded-full opacity-0 group-hover:opacity-100 transition-opacity focus:opacity-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500">
          <app-download-icon />
        </button>
      }

      @if (capabilities().video || capabilities().clearImage) {
        <div class="absolute top-4 right-4">
          @if (capabilities().video) {
            <button
              (click)="imageAction.emit({ action: 'generateVideo', context: id() })"
              title="Generate Video"
              class="mr-2 bg-gray-900 bg-opacity-75 text-white p-2 rounded-full opacity-0 group-hover:opacity-100 transition-opacity focus:opacity-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500">
              <app-video-icon />
            </button>
          }
          @if (capabilities().clearImage) {
            <button
              (click)="imageAction.emit({ action: 'clearImage', context: id() })"
              title="Clear Image"
              class="bg-gray-900 bg-opacity-75 text-white p-2 rounded-full opacity-0 group-hover:opacity-100 transition-opacity focus:opacity-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500">
              <app-trash-icon />
            </button>
          }
        </div>
      }
    </div>
  </div>
}
